* {
  font-family: sans-serif;
  text-align: center;
 }

h1 {
  margin-top: 50px;
}

div {
  width: 200px;
  height: 100px;
  border: 2px black solid;
  padding: 10px;
  margin-left: 550px;
  margin-top: 50px;
}
