* {
  font-family: sans-serif;
  margin: 0;
}

body {
    background-color: #6f6f70;
}



h1 {
  margin: auto;
  text-decoration: underline;
  text-align: center;
  margin-top: 45px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    background-color: #f2c768;
    text-align: center;
}

li {
    display: inline;
}

li a {
    padding: 20px;
    text-decoration: none;
    background-color: #f2c768;
}


a {
  color: black;
}

#anzeige {
  text-align: center;
  font-size: 1.5em;
}

.imageandtext {
  width: 500px;
  margin-left: 31%;
  margin-top: 50px;
}
