* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  margin-top: 50px;
  text-decoration: underline;
  text-align: center;
}

.left {
  float: left;
  width: 33.33%;
  border: solid black 2px;
}

.middle {
  
  width: 33.33%;
  border: solid black 2px;
}

.right {

  width: 33.33%;
  border: solid black 2px;
}
